.history
# go-task uses these directories for tracking file modifications
.task

# We sometimes might run a Kind cluster and use Skaffold to quickly build a Kubernetes thing, ignore these configs
**/kdevconfig.yaml
**/skaffold.yaml
