{{- if ne .Values.target "internal" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-proxy-pass-go
data:
  default.conf: |
    proxy_cache_path /nginx-cache levels=1:2 keys_zone=nginx-cache:60m max_size=10g inactive=600m use_temp_path=on;
    proxy_temp_path /nginx-cache/tmp;

    server {
        listen 80;
        listen [::]:80;
        server_name localhost;

        client_header_buffer_size 100k;
        large_client_header_buffers 4 100k;

        client_max_body_size 8M;
        fastcgi_buffers 16 256k;
        fastcgi_buffer_size 127k;
        proxy_buffer_size 128k;
        proxy_buffers 16 256k;
        proxy_busy_buffers_size 256k;

        keepalive 32;

        location / {
            proxy_cache nginx-cache;
            {{ if eq .Values.target "external" }}

            set $domain "go.{{ .Values.host }}";

            proxy_set_header Host $domain;
            proxy_pass https://{{ .Values.externalService.ipAddress }};
            proxy_http_version 2;
            proxy_set_header Connection "";
            proxy_ssl_server_name on;

            {{ else }}
            {{- /* target must now be "static" */}}

            root /usr/share/nginx/html;
            try_files $uri $uri/ /index.html;

            {{ end }}
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/nginx/html;
        }
    }
  index.html: |
    {{- .Values.static.html | nindent 4 }}
{{- end }}
