apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
      annotations:
        checksum/values: {{ .Values | toYaml | sha256sum }}
    spec:
      containers:
      - name: nginx-proxy-pass
        image: docker.io/nginx:1.27.4-alpine
        ports:
        - name: http
          containerPort: 80
        volumeMounts:
        - name: config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
        - name: config
          mountPath: /usr/share/nginx/html/index.html
          subPath: index.html
      volumes:
      - name: config
        configMap:
          name: {{ .Release.Name }}
          items:
          - key: default.conf
            path: default.conf
          - key: index.html
            path: index.html
