apps:
  - name: argo-cd
    project: argo-cd
    namespace: argo-cd
    automated: true

  - name: argo-cd-resources
    project: argo-cd
    namespace: argo-cd
    automated: true

  - name: sealed-secrets
    project: sealed-secrets
    namespace: kube-system
    automated: true

  - name: ingress-nginx
    project: ingress-nginx
    namespace: ingress-nginx
    automated: true

  - name: cert-manager
    project: cert-manager
    namespace: cert-manager
    automated: true
