# docs: https://grafana.github.io/grafana-operator/docs/

apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: monitoring
spec:
  config:
    server:
      domain: grafana.dplplat02.dpl.reload.dk
      root_url: https://grafana.dplplat02.dpl.reload.dk
    auth.anonymous:
      enabled: "false"
    auth.basic:
      disable_login_form: "true"
    auth.generic_oauth:
      name: Lagoon Keycloak SSO
      enabled: "true"
      client_id: grafana-oauth
      client_secret: ${grafana-oauth-secret}
      scopes: openid
      auth_url: https://keycloak.lagoon.dplplat02.dpl.reload.dk/auth/realms/lagoon/protocol/openid-connect/auth
      token_url: https://keycloak.lagoon.dplplat02.dpl.reload.dk/auth/realms/lagoon/protocol/openid-connect/token
      api_url: https://keycloak.lagoon.dplplat02.dpl.reload.dk/auth/realms/lagoon/protocol/openid-connect/userinfo
      allowed_domains: deranged.dk reload.dk
      role_attribute_path: "contains(groups[*], 'operators-owner') && 'Admin' || 'Editor'"
  ingress:
    metadata:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
    spec:
      ingressClassName: nginx
      rules:
        - host: grafana.dplplat02.dpl.reload.dk
          http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
      tls:
        - hosts:
            - grafana.dplplat02.dpl.reload.dk
          secretName: grafana.dplplat02.dpl.reload.dk-tls
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              envFrom:
                - secretRef:
                    name: grafana-oauth-client-secret
              volumeMounts:
                - mountPath: /etc/grafana/provisioning/dashboards
                  name: dashboard-provisioning-config
                - mountPath: /var/lib/grafana/dashboards
                  name: dashboards
                - mountPath: /etc/grafana/provisioning/datasources
                  name: datasources
            # This container watches the namespace for configmaps with the `dashboards` label
            # and creates files for all their keys under `FOLDER`
            - name: grafana-sc-dashboards
              image: quay.io/kiwigrid/k8s-sidecar:1.28.0
              env:
                - name: LABEL
                  value: grafana_dashboard
                - name: LABEL_VALUE
                  value: "1"
                - name: FOLDER
                  value: /var/lib/grafana/dashboards
                - name: NAMESPACE
                  value: ALL
                - name: RESOURCE
                  value: configmap
              volumeMounts:
                - mountPath: /var/lib/grafana/dashboards
                  name: dashboards
            - name: grafana-sc-datasources
              image: quay.io/kiwigrid/k8s-sidecar:1.28.0
              env:
                - name: LABEL
                  value: grafana_datasource
                - name: LABEL_VALUE
                  value: "1"
                - name: FOLDER
                  value: /etc/grafana/provisioning/datasources
                - name: RESOURCE
                  value: configmap
              volumeMounts:
                - name: datasources
                  mountPath: /etc/grafana/provisioning/datasources
          volumes:
            - name: dashboards
              emptyDir: { }
            - name: datasources
              emptyDir: { }
            - name: dashboard-provisioning-config
              configMap:
                name: dashboard-provisioning-config
          nodeSelector:
            node-role.kubernetes.io/prod: ""
          tolerations:
            - key: noderole.dplplatform
              operator: Equal
              value: prod
              effect: NoSchedule
---
# We need to extend the permissions of the Grafana serviceaccount to watch for configmaps
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sidecar-role
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "watch", "list"]
---
# We bind the new permissions to the grafana-sa
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: sidecar-rolebinding
roleRef:
  kind: ClusterRole
  name: sidecar-role
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: grafana-sa
    namespace: monitoring
---
# Provisioning config
apiVersion: v1
kind: ConfigMap
metadata:
  name: dashboard-provisioning-config
  namespace: monitoring
data:
  provisioning.yaml: |-
    apiVersion: 1
    providers:
      - name: configmap-dashboard-provider
        orgId: 1
        folder: ''
        folderUid: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: false
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: true
