# Default environment-variables that should exist across all environments.
ARM_ACCESS_KEY=
AZURE_KEYVAULT_NAME=
AZURE_MAIL_CONNECTION_STRING=
AZURE_RESOURCE_GROUP_NAME=
AZURE_SUBSCRIPTION_ID=
CLUSTER_NAME=dplplat02
DNSIMPLE_ACCOUNT=
DPLPLAT_ENV=dplplat01
GITHUB_TOKEN=
SSH_HOSTNAME=
