apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: nginx-hpa
spec:
  minReplicas: 1
  maxReplicas: 6
  metrics:
    - type: ContainerResource
      containerResource:
        name: cpu
        container: php
        target:
          type: Utilization
          averageUtilization: 65
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: nginx
