---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: grafana-oauth-client-secret
  namespace: monitoring
spec:
  encryptedData:
    grafana-oauth-secret: AgCibzwI2m0V5dpGaWn+YxWBMe7QJFCAVumPIbdwYgCftqSGRYzO8IIDWluH1FmXAzmqgsIVm6vOd4UJjNPw3fTpfhg0f/wv5azceXAtEMSXvOX0oxcV1zPYPCd0mvKxxH1wfCOzBG3oMd3QsL5SZDwUr6zT6yn/Of3bhZaX51JLz/57szliTvaYtMXtPrUeQZrE5rQyClxIr9eAOmjKmQcfJ5Hd0S5kxujst/z87nH3RDFJbTdzHtLfG2L44XwPxP5buo+uB6REmCRbadUzKmeW8Zvxq81puMXoN4A5T/k4VBy0Yz+WDa6Z8NyCXI6DIjlgsHg/8V8JEY/8HaOfUjyj+MNANOMIYMYc4GR+FXMdHW60ydI8RMVmfRBibnc9y0zA7yRxvEzkAuTAw72g9fCfuSIIBWJ8PwYG01T6UJunQ5cwhCdA2QrzE8kJm+8PjnoSQq9ET3nNvJ31nWDzNhnDSu0qBv9axoIKeilPqVTnfzbni7G297AF0pZSyIdjTiH3fGtMzShEJGMMjY0wwuQ9+Sp2wLiuHzsxAn3QZ+CF4HoKG3GBA//qxyAforVoRr7Tsqx/SeRGXZJQyDXDwui2X25kQq/HmjgoLbrkp3dTaI2umntahm6tWh45JAsCs6zTPgacmrXTjMxONFAAOXeeWI4kbgGHuzz3q92kieOMnf30aJzTom1WvAojV932HBTShywfeELOja6dLo3WqthI3DoOJpFDb5ktqZT4w4OFJg==
  template:
    metadata:
      creationTimestamp: null
      name: grafana-oauth-client-secret
      namespace: monitoring
    type: Opaque
